<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /2024/insights/
    RewriteRule ^/2024/insights/index.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^(.*) /2024/insights/index.html [NC,L]
  </IfModule>
  
  
